.features-section {
  padding: 100px 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.02);
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s ease-out, opacity 1s ease-out;
}
.features-section.active {
   opacity: 1;
  transform: translateY(0);
}
.features-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
   background: radial-gradient(circle at center, rgba(128, 0, 128, 0.1), transparent);
  filter: blur(100px);
  opacity: 0.5;
}
.features-section h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #fff;
   text-shadow: 0 0 15px #a63af9;
    position: relative;
   overflow: hidden;
}
.features-section h2::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 2px;
    transform: translateX(-50%);
  background: linear-gradient(to right, transparent,#a63af9, transparent);
  transition: width 0.5s ease-in-out;
  will-change: width;
}
.features-section h2:hover::before {
 width: 100%;
}
.features-content {
display: flex;
   align-items: center;
  justify-content: center;
 gap: 30px;

  }
.discord-mockup {
   flex: 0.8;
      display: flex;
      flex-direction: column;
     gap: 20px;
        padding: 10px;

  }
.discord-message {
  background-color: rgba(255, 255, 255, 0.03);
     padding: 10px;
  border-radius: 10px;
    width: 320px;

  }
  .discord-message-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
   .discord-message-avatar {
       width: 30px;
       height: 30px;
      border-radius: 50%;
  }
  .discord-message-header-info {
         text-align: left;
         display: flex;
         flex-direction: column;
         gap: 3px;
  }
   .discord-message-name {
       font-size: 1.1rem;
       color: #fff;
      font-weight: bold;
  }
  .discord-message-tag {
       font-size: 0.9rem;
      color: #a63af9;
  }
  .discord-message-date {
       font-size: 0.8rem;
       color: #777;
  }
.discord-message-body {
  padding: 10px;
  text-align: left;
}
.discord-image {
    max-width: 320px;
  border-radius: 10px;

}
.features-text {
    flex: 1;
    text-align: left;
    padding-left: 20px;

}
.features-text p {
font-size: 1.2rem;
  line-height: 1.6;
color: #ddd;
    margin-top: 10px;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px 20px;
     border-top: 1px solid rgba(255, 255, 255, 0.1);
}