.link-button {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(135deg, #a63af9 0%, #f48fb1 100%);
    border-radius: 12px;
    transition: background 0.3s ease, transform 0.2s ease;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(128, 0, 128, 0.2);
}

.app-container.light-theme .link-button {
    background: linear-gradient(135deg, #a0a0a0 0%, #bdbdbd 100%);
    box-shadow: 0 5px 15px rgba(158,158,158, 0.4);
}

.link-button:hover {
    background: linear-gradient(135deg, #f48fb1 0%,#a63af9 100% );
    transform: translateY(-3px);
    animation: pulse 1.5s infinite, dynamic-shadow 0.5s linear forwards, blinkText 1.5s ease infinite;  /* Применяем  тексту,  */
    box-shadow: 0 5px 20px rgba(128, 0, 128, 0.4);
}
.app-container.light-theme .link-button:hover {
     background: linear-gradient(135deg, #bdbdbd 0%,#a0a0a0 100% );
       box-shadow: 0 5px 20px rgba(158,158,158, 0.4);
        animation: pulse-light 1.5s infinite, dynamic-shadow 0.5s linear forwards, blinkText 1.5s ease infinite; /* Применяем к тексту */
}
.link-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent);
    filter: blur(10px);
}
.app-container.light-theme .link-button::before {
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.1), transparent);
}
@keyframes pulse {
    0% {
         box-shadow: 0 5px 15px rgba(128, 0, 128, 0.2);
    }
    50% {
         box-shadow: 0 5px 20px rgba(128, 0, 128, 0.4);
    }
    100% {
         box-shadow: 0 5px 15px rgba(128, 0, 128, 0.2);
    }
}
.app-container.light-theme .link-button:hover {
    animation: pulse-light 1.5s infinite, dynamic-shadow 0.5s linear forwards;
}
@keyframes pulse-light {
    0% {
          box-shadow: 0 5px 15px rgba(158,158,158, 0.2);
    }
    50% {
      box-shadow: 0 5px 20px rgba(158,158,158, 0.4);
    }
    100% {
          box-shadow: 0 5px 15px rgba(158,158,158, 0.2);
    }
}
@keyframes dynamic-shadow {
   to{
     box-shadow: 0 7px 25px rgba(128, 0, 128, 0.3);
      }
}
.app-container.light-theme  @keyframes dynamic-shadow {
   to{
     box-shadow: 0 7px 25px rgba(158,158,158, 0.3);
      }
}
@keyframes blinkText {
  0%, 100% {
    color: #fff;

  }
  50% {
    color: rgba(255, 255, 255, 0.3);

  }
}